.ProductItemContainer {
  margin: 1em;
  height: auto;
  max-height: 25em;
  padding: 1em;
  background-color: white;
  border-radius: 0.2em;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #f1f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.ProductItemContainer:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.ProductItemContainer h3 {
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
  color: #707070;
}

.ProductItemContainer h4 {
  margin-top: 0;
}

.ProductItemContainer p {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  color: #cf0c1d;
}
